
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=7168598e1f5188185d3d1e2eb6eb0d0d
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
